@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/components/button.module.scss";

.card {

    @include flex-container(column, nowrap, center, flex-start);
    padding: 0;
    margin: 0;

    transition: all 200ms ease-in-out;
    border: 1px solid $white-100;

    max-width: 600px;

    .imageContainer {
        position: relative;
        width: 100%;
        max-width: 600px;
        aspect-ratio: 1.5;
    }

    .textContent {
        @include flex-container(column, nowrap, center, flex-start);
        padding: 30px;
        gap: 15px;

        h3 {
            @include header-3-regular;
        }

        a {
            @extend .button;
            @extend .active;
            @extend .tertiary;
            @extend .darkMode;
            @extend .withPadding;
            @extend .animateOnHover;
            border-radius: 0px;

            border: 1px solid $white-100;
            
        }

        p {
            @include text-md-regular;
            color: $white-400;
        }
    }

    &:hover {
        cursor: pointer;
        background: $black-alt;
        box-shadow: 0px 30px 60px $black-400;
        border-color: $white-200;

        .textContent {
            background: rgba($white, 0.05);
        }
    }
    
}
