@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";


.card {

    @include flex-container(column, nowrap, center, center);
    gap: 15px;
    width: 160px;
    height: 250px;
    padding: 30px;

    border: 1px solid $black-100;

    transition: all 200ms ease-in-out;

    .illustrationContainer {
        position: relative;
        width: 60px;
        aspect-ratio: 1;
    }

    .xp {

        @include flex-container(row, nowrap, center, center);
        gap: 10px;
        color: $black-600;

        @include text-sm-regular;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 15px 90px $secondary-400;
        border: 1px solid $secondary;
    }
}