@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";

.contactSection {

    background: $black-alt;

    @include flex-container(column, nowrap, center, center);
    width: 100vw;
    min-height: 100vh;
    height: fit-content;

    overflow-x: hidden;

    color: $white;

    .sectionTitle {

        @include flex-container(column, nowrap, flex-start, center);
        gap: 15px;
        width: 100%;
        padding: 5vh 5vw;
        
        h1 {
            @include header-1;
        }
    
        p {
            @include text-md-regular;
            color: $white-400;

            &.error {
                color: $error;
            }
        }

        h1, p {
            text-align: center;
        }

    }

    form {
        @include flex-container(column, nowrap, flex-start, stretch);
        width: 100%;
        max-width: $bp-lg;
        padding: 5vh 5vw;
        gap: 30px;

        .row {
            @include flex-container(row, nowrap, center, center);
            width: 100%;
            gap: 30px;

            @media (max-width: $bp-sm) {
                @include flex-container(column, nowrap, center, stretch);
            }
        }

        & > button {
            margin-left: calc(50% + 15px);
            width: calc(50% - 15px);

            @media (max-width: $bp-sm) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

}

