@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";

.container {
    background: $black-alt;
}

.worksSection {

    background: linear-gradient(180deg, rgba($black-alt, 0%) 0%, $black-alt 100%), url("/images/works-background-image.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    @include flex-container(row, nowrap, center, center);
    min-width: fit-content;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    padding: $nav-bar-height 5vw 5vh;
    gap: 60px;

    color: $white;

    overflow-x: hidden;

    .sectionIntro {

        @include flex-container(column, nowrap, center, flex-start);
        gap: 60px;
        flex: 1;


        h1 {
            @include hero-text;
            color: $white;
        }

        .heroText {

            @include flex-container(column, nowrap, center, flex-start);
            gap: 30px;

            max-width: 250px;

            p {
                @include text-md-regular;
                color: $white-400;
            }
    
            h2 {
                @include header-1;
                font-size: $h2-font-size;
                color: $white;
            }

        }

    }

    .heroProjectContainer {
        flex: 1;

        h1 {
            @include hero-text;
            color: $white;
        }
    }


    @media (max-width: $bp-md) {
        flex-direction: column;
        gap: 0px;
        padding: 0;

        .sectionIntro, .heroProjectContainer {
            padding: $nav-bar-height $mobile-side-padding 5vh;
            min-height: 100vh;
            width: 100vw;
        }

        .sectionIntro {
            align-items: center;

            .heroText {
                align-items: center;
                text-align: center;
            }
        }
    }

}