@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";

.fieldContainer {
    @include flex-col-nowrap;
    gap: 15px;
    width: fit-content;
    padding: 20px;
    border: 1px solid $white-100;
    width: 100%;
}